@font-face {
  font-family: "Paloseco-Light";
  src: local("Paloseco-Light"),
   url(../fonts/Paloseco-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Paloseco-Medium";
  src: local("Paloseco-Medium"),
   url(../fonts/Paloseco-Medium.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: sans-serif, monospace;
  font-style: normal;
}